# Environment
.env
.venv/
__pycache__/
*.pyc

# Data
input/
submission.csv
*.dcm
*.npy
*.tar
*.zip

# Model artifacts
models/*/weights/
models/*/oof/
models/**/*.pt
models/**/*.pth
models/**/*.ckpt

# Kaggle
.kaggle/

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
